@import "./card.css";
@import "./cart.css";
@import "./filters.css";

nav {
    z-index: 10;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: aquamarine;
}

main {
    width: 70vw;
    margin: auto;
    background-color: azure;
}

.catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
