#root {
    max-width: 75vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    padding: 20px;
}
