li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 15px;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.completata p{
    text-decoration: line-through;
}

.evidenziata {
    background-color: yellow;
}


.delBtn {
    text-decoration: none;
    height: 30px;
    width: 30px;
    background-color: red;
    color: white;
    border-radius: 15px;
}
