#calc {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
    width: 100%;
    height: 100%;
}
#div1 {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
}
#div2 {
    grid-area: 2/1/3/2;
}
#div3 {
    grid-area: 2/2/3/3;
}
#div4 {
    grid-area: 3/1/4/2;
}
#div5 {
    grid-area: 3/2/4/3;
}
