#t1 {
    width: 300px;
    height: 100px;
    padding: 20px;
    border: 10px solid blue;
    margin: 15px;
}
#p1 {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 2px dashed green;
}

#t2 {
    border-width: 2px;
    border-style: dotted;
    border-color: crimson;
    margin-top: 30px;
    margin-left: 35px;
}
#p2 {
    border-width: 3px;
    border-style: double;
    border-color: hotpink;
    margin-right: 100px;
}
#l1 {
    border-width: 5px;
    border-style: groove;
    border-color: teal;
    margin-top: 60px;
}
#d1 {
    border: 2px solid blue;
    box-sizing: content-box;
    padding: 20px;
}
