.container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#form {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
    width: min-content;
    height: min-content;
}
#div1 {
    grid-area: 1/1/2/2;
}
#div2 {
    grid-area: 1/2/2/3;
}
#div3 {
    grid-area: 2/1/3/2;
}
#div4 {
    grid-area: 2/2/3/3;
}
#div5 {
    grid-area: 3/1/4/2;
}
#div6 {
    grid-area: 3/2/4/3;
}
