* {
    padding: 0%;
}

header {
    margin: 0px;
    display: flex;
    background-color: bisque;
    justify-content: space-between;
}

#titolo {
    align-content: center;
}

#account {
    align-content: center;
}

main {
    display: flex;
}

#section1 {
    width: 50vw;
}

#section2 {
    width: 50vw;
}
